apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote
  namespace: voting-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
        - name: vote
          image: chaitramk23/vote-app:latest   # <-- REPLACE with your image
          ports:
            - containerPort: 80
          env:
            - name: REDIS_HOST
              value: "redis"
